body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
}

input {
  padding: 10px;
  width: 80%;
  font-size: 16px;
  margin-top: 20px;
}

#suggestions div {
  background: #222;
  padding: 8px;
  cursor: pointer;
}

#suggestions div:hover {
  background: #333;
}
#board {
  margin-top: 20px;
  border: 1px solid #333;
}

.row {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1.2fr 1fr;
  gap: 6px;
  padding: 6px;
}

.header .cell {
  background: #111;
  font-weight: bold;
  padding: 10px 6px;
  border: 1px solid #333;
}

.cell {
  padding: 12px 6px;
  border: 1px solid #222;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Estados */
.ok { background: #167d2f; }
.no { background: #a31111; }
.up::after { content: " ▲"; }
.down::after { content: " ▼"; }
